In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [28]:
data = pd.read_csv("car.csv",names = ["buying","maint","doors","persons","lug_boot","safety","class"])

In [30]:
data.head()

  buying  maint doors persons lug_boot safety  class
0  vhigh  vhigh     2       2    small    low  unacc
1  vhigh  vhigh     2       2    small    med  unacc
2  vhigh  vhigh     2       2    small   high  unacc
3  vhigh  vhigh     2       2      med    low  unacc
4  vhigh  vhigh     2       2      med    med  unacc

In [31]:
data.isna().sum()

buying      0
maint       0
doors       0
persons     0
lug_boot    0
safety      0
class       0
dtype: int64

In [72]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
#converting string labels into numbers
data["buying"] = le.fit_transform(data["buying"])
data["maint"] = le.fit_transform(data["maint"])
data["doors"] = le.fit_transform(data["doors"])
data["persons"] = le.fit_transform(data["persons"])
data["lug_boot"] = le.fit_transform(data["lug_boot"])
data["safety"] = le.fit_transform(data["safety"])
data["class"] = le.fit_transform(data["class"])

In [73]:
data.head()

   buying  maint  doors  persons  lug_boot  safety  class
0       3      3      0        0         2       1      2
1       3      3      0        0         2       2      2
2       3      3      0        0         2       0      2
3       3      3      0        0         1       1      2
4       3      3      0        0         1       2      2

In [120]:
X = data[data.columns[:-1]]
y = data['class']

In [121]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2,random_state = 50)

In [122]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()
knn.fit(X_train,y_train)
pred=knn.predict(X_test)
knn.score(X_test,y_test)

0.9017341040462428

In [123]:
predicted_output = knn.predict([[3,3,0,0,2,1]])  ### desired class value = 2
predicted_output ## predicted correctly

array([2], dtype=int64)

In [124]:
prediction_points = [[3, 3, 0, 0, 2, 1],[3,1,0,0,2,1],[2,2,1,2,1,2]]
prediction_points = np.array(prediction_points)
prediction_points
def get_distance(point,k):
    distance = np.sqrt(np.sum((X - point)**2,axis = 1))
    return np.argsort(distance)[0:k]

In [125]:
from collections import Counter
def predict(prediction_points,k):
    points_labels = []
    
    for point in prediction_points:
        distances = get_distance(point,k)
        
        results = []
        for index in distances:
            results.append(y[index])
            
        label = Counter(results).most_common(1)
        points_labels.append([point,label[0][0]])
    
    return points_labels

In [126]:
results = predict(prediction_points,10)
for result in results:
    print("Point = ",result[0])
    print("Class=",result[1])
    print()

Point =  [3 3 0 0 2 1]
Class= 2

Point =  [3 1 0 0 2 1]
Class= 2

Point =  [2 2 1 2 1 2]
Class= 0

In [159]:
from sklearn.metrics import accuracy_score
for k in range(25):
    k1 = k+1
    knn = KNeighborsClassifier(n_neighbors = k1)
    knn.fit(X_train,y_train)
    pred=knn.predict(X_test)
    print("Accuarcy of k-value",k1,":",knn.score(X_test,y_test))

Accuarcy of k-value 1 : 0.8092485549132948
Accuarcy of k-value 2 : 0.7514450867052023
Accuarcy of k-value 3 : 0.8236994219653179
Accuarcy of k-value 4 : 0.8179190751445087
Accuarcy of k-value 5 : 0.9017341040462428
Accuarcy of k-value 6 : 0.8988439306358381
Accuarcy of k-value 7 : 0.9421965317919075
Accuarcy of k-value 8 : 0.9248554913294798
Accuarcy of k-value 9 : 0.9277456647398844
Accuarcy of k-value 10 : 0.9017341040462428
Accuarcy of k-value 11 : 0.869942196531792
Accuarcy of k-value 12 : 0.8439306358381503
Accuarcy of k-value 13 : 0.8554913294797688
Accuarcy of k-value 14 : 0.8554913294797688
Accuarcy of k-value 15 : 0.8236994219653179
Accuarcy of k-value 16 : 0.8236994219653179
Accuarcy of k-value 17 : 0.8179190751445087
Accuarcy of k-value 18 : 0.8005780346820809
Accuarcy of k-value 19 : 0.7976878612716763
Accuarcy of k-value 20 : 0.8034682080924855
Accuarcy of k-value 21 : 0.8034682080924855
Accuarcy of k-value 22 : 0.8092485549132948
Accuarcy of k-value 23 : 0.7976878612716763
Accuarcy of k-value 24 : 0.8063583815028902
Accuarcy of k-value 25 : 0.8092485549132948