#### Jupyter Notebook:
## Two Ways:
1. MarkDown
2. Code


### Mark Down:  Esc+ M

### Mark Down:

* *Italic Format*
* **Bold Format**
* ***Bold And Italic***
    * Sub point
        * sub point
    * sub point
< img src = "image.jpg" >

### Python Basics

In [7]:
### esc+y ----->To convert markdowm cell to code cell

In [8]:
# Python is easy to understand
# Python is an high level language
# Python having more in built libraries and functions.
# Python was developed by van Rusom in 1991.

In [15]:
print("welcome"
     "to"
     "Python")

welcometoPython

In [27]:
a = 10 ### single variable assigning
print(a)
b = 20
print(a,b)

10
10 20

In [29]:
a = "niharikaa"
a

'niharikaa'

In [30]:
a = c = b ## two variable assignment
a

20

In [38]:
a,b,c = 10,20,30

In [39]:
a,b,c

(10, 20, 30)

In [51]:
## Data type:

# int  -----> numerical values ---- 1,2,3,.....
# float ----> numerical but decimals ---- 1.2,4.5
# string ---> aplhabets,sentences --- a,b,hhhjhs,niha,numericals,floats
c = 0.4
type(c)
f = "10"
type(f)

str

In [62]:
a = float(10)
s = "100"
type(s)
b = int(s)
type(b)

int

In [4]:
### convert the string "23456" to integer

a = "23456"
type(a)
b = int(a)
type(b)

int

In [5]:
type(23456)

int

### Print:

* print("TEXT")

### Variables: 
* ***Variables can be of any data.***
* *Variable is named because the data is will be vary without any fixed data.*
* variable names should not begin with special characters,numerial values,_special characters.
* variable name can be _,alphabets,_alphabets,_numericals.

In [6]:
print("Welcome")

Welcome

In [9]:
a = 10
print(a)

10

In [12]:
a = 20
a

20

### Data Types:
* integer   -----> 1,2,3,4 .... numericals
* float     -----> 0.1,0.2,39.4 ....... decimal values
* String    -----> "12abc.4" ..... any data in quotations will be a string.


###### Checking the data type:
* type(variable name/data)
    * eg: type(10) ---data
    * type(a) ---variable name
##### Data Type Conversions:

* Covert integer to float:
    * a = 10

In [31]:
a = 10
type(a)

int

In [34]:
b = float(a)
int(b)

10

In [29]:
### convert string "100000" to float data type:

a = "10000"
#type(a)
float(a)

10000.0

In [35]:
a = "abcd10"

### Operators: 
* Operators are used to perform some operations on data.
* There are 7 operators in python:
    1. Arthimetic Operator ----> used to perform arthimetic operations
    2. Assignment Operator ----> used to assign values .
    3. Relational Opertor ----> used to find the relation between the data
    4. Bitwise Operator
    5. Logical Operator  ----> used to perform logical operations
    6. Identity operator
    7. Membership operator

In [49]:
### Arthimetic opertors: addition,subtraction,division,multiplication

a,b = 10,20

a + b # addition
a - b # subtraction
a * b # multiplication
a // b # Division printing quotient answer before decimal value
a / b # divison printing quotient answer with decimal value
a % b # modulos --->remainder
a ** b # Power  eg: 2**3 --->2*2*2 = 8 ,3**2 ---> 3*3 = 9,4**3 --->4*4*4 =64

100000000000000000000

In [64]:
### Assignment Operators : +=,-=,*=,//=,/=,**=
### In assignment operators the output value will be assigned to left side variable.
a = 2 
b = 3
a += b   # a = a + b ----> a = 2 + 3 ---> a = 5
a -= b   # a = a - b ----> a = 5 - 3 ---> a = 2
b *= a   # b = b * a ----> b = 3 * 2 ---> b = 6
b //= a  # b = b // a ---> b = 6 // 2 ---> b = 3
b /= a   # b = b // a ---> b = 3 // 2 ---> b = 1.5
b **= a  # b = b ** a ---> b = 1.5 ** 2 --> b = 2.25
b

2.25

In [72]:
### Relational Operators: >,<,>=,<=,==,!=

a = 2    # a variable is assigning with 2
b = 3    # b variable is assigning with 3
a > b   ## 2 > 3 ---> False
a < b   ## 2 < 3 ---> True
a >= b  ## 2 >= 3 ----> False
a <= b  ## True
a == b   ## False  == is for comparision,a is comparing with b
a != b   ## True   a not equal to b

False

In [ ]:
### Logical Operators: And,Or,not

3 and 2

3 --- 0011
2 --- 0010
-------------
    0 0 1 0
    
3 or 2

3 -- 0011
2 -- 0010
---------
    0 0 1 1

In [ ]:
## And table  ---> any one of the value is 0 o/p will be 0

a b     value
0 0       0
0 1       0
1 0       0
1 1       1


## Or table  ----> any one of the value is 1 o/p will be 1

a b    value
0 0      0
0 1      1
1 0      1
1 1      1


### Not :  for 1 output will be 0 and for 0 output will be 1

a  value
1   0   False
0   1   True



binary numbers:  combination of 1 and 0:
    
     8       4      2       1
    2**3    2**2   2**1    2**0
    
    0        0      0       0       =  0000
    
    0        0      0       1       =  0001
    
    0        0      1       0       =  0010
    
    0        0      1       1       =  0011
    
0 ---> 0000
1 ---> 0001       
2 ---> 0010
3 ---> 0011
4 ---> 0100
5 ---> 0101
6 ---> 0110
7 ---> 0111
8 ---> 1000
9 ---> 1001
10 --> 1010  ---> A
11 --> 1011  ---> B
12 --> 1100  ---> C
13 --> 1101  ---> D
14 --> 1110  ---> E
15 --> 1111  ---> F

2^0 -->1
2^1 -->2
2^2 -->4 
2^3 -->8
2^4 -->16
2^5 -->32
2^6 -->64
2^7 -->128
2^8 -->256
2^9 -->512
2^10 ->1024
2^11 ->2048
2^12 ->4096



Binary To Decimal conversion:
    
    2|35
      17  -- 1
      8   -- 1
      4   -- 0
      2   -- 0
      1   -- 0
      
    
    35  = 100011

Decimal to Binary Conversion:
    
1  0  0  0  1  1   =  35



1*2^5 + 0*2^4 + 0*2^3 + 0*2^2 + 1*2^1 + 1*2^0 

32    +    0  +   0   +  0    +   2   +   1     = 35

In [17]:
3 and 2

2

In [20]:
3 or 2

3

In [30]:
not 3

False

In [31]:
not 0

True