## Basics of Python:

#### Printing the data

In [2]:
### For Printing the text in the python we use ---- print("text")

print("Hope You All Are Doing Well")

Hope You All Are Doing Well

* For printing the text as it is we use keep the text in quotations.
* For printing the data in the variable we won't use quotations.

In [4]:
a="Hello"
print(a)

Hello

In [6]:
print("HELLO, How are you?")

HELLO, How are you?

#### Assigning of variables:

* Data to a variable can be assigned by two ways:
    * single variable assignment
    * Multi variable assignment

In [8]:
## Single variable assignment:

a=123
print(a)

123

In [12]:
### Multi variable assignment:

a=b=1223
print(a,b)

a,b=23,34   ## when we are using this multi variable assignment we should be aware that both sides 
            ## the no.of variables and no of data are equal.
print(a,b)

1223 1223
23 34

#### Data Types:

* In python we are having the following type of data types:
    * Integer  ---- numbers without decimal values
    * Float    ---- decimal numbers
    * String   ---- the data in the quotations is called a string element
* By default python will take the data type of the given data

In [14]:
### Integers:

a=123
type(a)

int

In [18]:
### Float:

b=123.123
type(b)

float

In [20]:
#### String:

c="abcd"
type(c)

str

#### conversion of one data type to another data type:

In [22]:
#### integer to string:

a=1234
b=str(a)
type(b)

str

In [28]:
### string to integer:

b="12345"
c=int(b)
type(c)

int

In [31]:
### float to integer:

d=123.23
e=int(d)
type(e)

int

In [34]:
#### integer to float:

type(float(e))

float

### Variables:

* In python the variable name can be any alphabet,underscore and digit.
* when we use the digit as variable name we should use underscore infront of that digit

In [1]:
_1=10 ## using digit as variable name

In [2]:
_1

10

In [3]:
a=11 ## using alphabet as variable name

In [4]:
a

11

In [7]:
_=32 ## using undercore as variable name

In [6]:
_

32

### Python Literals:
* Literals are nothing but the data we assign to the variable.

##### String Literal:

* In string literal the data is enclosed in the quotation marks.
* In this we can use the strings as well as the numbers
* eg: "niharikaa","1234"

In [10]:
a = "niharikaa"

In [11]:
a

'niharikaa'

In [12]:
type(a)

str

#### Numerical Literal:

* In numerical literal the data is directly given to the variable without any quotation marks.
* In this we can only use the numerical values
* Eg: a=10

In [13]:
a=10

In [27]:
b="""Hello
Good Morning
niharikaa"""

In [28]:
print(b)

Hello
Good Morning
niharikaa

### Operators:

* Arithmetic operators
* Comparison operators
* Assignment Operators
* Logical Operators
* Bitwise Operators
* Membership Operators
* Identity Operators

#### Arithmetic operators:

* Arithmetic operators are used to perform arithmetic operations between two operands. It includes +(addition), - (subtraction), x(multiplication), /(divide), %(reminder), //(floor division), and exponent (**).

In [29]:
a=10
b=20

In [30]:
a+b

30

In [31]:
a-b

-10

In [32]:
a*b

200

In [35]:
a/b ### this gives along with the float value

0.5

In [36]:
a//b ### this gives only the integer value

0

In [37]:
a**b

100000000000000000000

In [38]:
a%b

10

#### Comparision Operators:

* Comparison operators are used to comparing the value of the two operands and returns boolean true or false accordingly.

In [61]:
# == If the value of two operands is equal, then the condition becomes true.
# !  If the value of two operands is not equal then the condition becomes true.
# <= If the first operand is less than or equal to the second operand, then the condition becomes true.
# >= If the first operand is greater than or equal to the second operand, then the condition becomes true.
# <> If the value of two operands is not equal, then the condition becomes true.
# > If the first operand is greater than the second operand, then the condition becomes true.
# < If the first operand is less than the second operand, then the condition becomes true.

In [40]:
a,b

(10, 20)

In [41]:
a>b

False

In [42]:
a<b

True

In [43]:
a>=b

False

In [44]:
a<=b

True

In [45]:
a==b

False

In [47]:
a!=b

True

#### Assignment Operators:

In [60]:


# The assignment operators are used to assign the value of the right expression to the left operand
# =	It assigns the the value of the right expression to the left operand.
# +=	It increases the value of the left operand by the value of the right operand and assign the modified value back to left operand. For example, if a = 10, b = 20 => a+ = b will be equal to a = a+ b and therefore, a = 30.
# -=	It decreases the value of the left operand by the value of the right operand and assign the modified value back to left operand. For example, if a = 20, b = 10 => a- = b will be equal to a = a- b and therefore, a = 10.
# *=	It multiplies the value of the left operand by the value of the right operand and assign the modified value back to left operand. For example, if a = 10, b = 20 => a* = b will be equal to a = a* b and therefore, a = 200.
# %=	It divides the value of the left operand by the value of the right operand and assign the reminder back to left operand. For example, if a = 20, b = 10 => a % = b will be equal to a = a % b and therefore, a = 0.
# **=	a**=b will be equal to a=a**b, for example, if a = 4, b =2, a**=b will assign 4**2 = 16 to a.
# //=	A//=b will be equal to a = a// b, for example, if a = 4, b = 3, a//=b will assign 4//3 = 1 to a

In [48]:
a,b

(10, 20)

In [49]:
a+=b

In [50]:
a

30

In [51]:
a-=b

In [52]:
a

10

In [53]:
a*=b

In [54]:
a

200

In [55]:
a//=b

In [56]:
a

10

In [57]:
a**=b

In [58]:
a

100000000000000000000

#### Bit Wise Operators

In [59]:

# * The bitwise operators perform bit by bit operation on the values of the two operands.
# & (binary and)	If both the bits at the same place in two operands are 1, then 1 is copied to the result. Otherwise, 0 is copied.
# | (binary or)	The resulting bit will be 0 if both the bits are zero otherwise the resulting bit will be 1.
# ^ (binary xor)	The resulting bit will be 1 if both the bits are different otherwise the resulting bit will be 0.
# ~ (negation)	It calculates the negation of each bit of the operand, i.e., if the bit is 0, the resulting bit will be 1 and vice versa.
# << (left shift)	The left operand value is moved left by the number of bits present in the right operand.
# *>> (right shift)

#### Example:

if a = 7;  
   b = 6;   
then, binary (a) = 0111  
    binary (b) = 0011  
  
hence, a & b = 0011  
      a | b = 0111  
             a ^ b = 0100  
       ~ a = 1000

#### Logical Operators:
The logical operators are used primarily in the expression evaluation to make a decision.

In [62]:
# and If both the expression are true, then the condition will be true. If a and b are the two expressions, a → true, b → true => a and b → true.
# or	If one of the expressions is true, then the condition will be true. If a and b are the two expressions, a → true, b → false => a or b → true.
# not	If an expression a is true then not (a) will be false and vice versa.

#### Membership operators:
Python membership operators are used to check the membership of value inside a data structure. If the value is present in the data structure, then the resulting value is true otherwise it returns false.

In [63]:
# in	It is evaluated to be true if the first operand is found in the second operand (list, tuple, or dictionary).
# not in	It is evaluated to be true if the first operand is not found in the second operand (list, tuple, or dictionary).

#### Identity Operators:

In [64]:
# is	It is evaluated to be true if the reference present at both sides point to the same object.
# is not	It is evaluated to be true if the reference present at both side do not point to the same object.